/* For mobile phones: */
@media only screen and (max-width: 600px) {
    body{
        /* overflow: hidden; */
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    main{
        width: 600px;
        margin: 20px auto;
        /* justify-content: center;
        text-align: center; */
    }
    .first-container{
        margin: 0px;
        max-width: 600px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }


.photography2 {
    width: 600px;
    
}
.photography1{
    margin: 0px;
    justify-content: center;
    width: 600px;
    display: flex;
    flex-direction: column;
    
    
}
.photography1 h2{
    /* margin: 0px auto; */
    margin: 10px auto;
    width: 500px;
    font-size: 30px;
    text-transform: capitalize;
    text-align: center;
    /* overflow: hidden; */
}
.photography1 p{
    width: 400px;
    font-size: 18px;
    margin: 10px auto;
    text-align: center;
}
.first-btn{
    /* margin-bottom: 20px; */
    margin: 20px auto;
    width: 200px;
    padding: 15px 20px;
    /* display: flex; */
    justify-content: center;
    background-color: rgb(205, 43, 97);
    border-radius: 0px 20px;
    text-align: center;
    /* justify-content: space-between; */
}
.photography2{
    display: flex;
    justify-content: center;
}
.photography2 img{
    width:400px;
    text-align: center;
  
    margin: 0;
    padding-left: 0px;
}

 /* ................................ 1st Part .................... */
  .company{
    margin: 20px auto;
   max-width: 600px;
  }

  .company img{
    width: 60px;
    padding: 0 5px;
}
/* ..................................................... */
.collection{
    margin: 0;
    width: 600px;
   margin: 0px auto;
    /* display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px; */
    display: flex;
    flex-direction: column;
    
}
.collection-item{
    /* margin: 0 auto; */
    /* display: block; */
    padding: 20px;
    max-width: 500px;
    background-color: rgb(245, 245, 245);
  /* box-sizing: border-box;   */
}

.collection-item img{
    width: 360px;
    margin: 0 auto;
    border-radius: 10px;
    
}
.collection-item i{
    color: goldenrod;
}
.review{
    display: flex;
}
/* ........................................... */
footer{
    padding: 20px 0;
    background-color: rgb(35, 48, 97);
    /* justify-content: center; */
    text-align: center;
}
footer h3{
    padding: 10px 0;
    color: #fff;
    font-size: 30px;
}
footer p{
    padding: 10px 0;
    color: #fff;
}
footer i{
    /* margin: 0 5px; */
    font-size: 20px;
    padding: 10px 10px;
    color: #fff;
    background-color: rgba(43, 66, 98, 0.695);
    border-radius: 50%;
}



}