/* For mobile phones: */
@media only screen and (max-width: 600px) {
    body{
        overflow: hidden;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    main{
        width: 600px;
        margin: 0 auto;
        /* justify-content: center;
        text-align: center; */
    }
    .first-container{
        margin: 0px;
        max-width: 600px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }


.photography1,.photography2 {
    margin: 0;
    max-width: 100%;
    
}
.photography1{
    margin: 0px;
    justify-content: center;
   
    display: flex;
    flex-direction: column;
    
    
}
.photography1 h2{
    /* margin-bottom: 20px; */
    font-size: 30px;
    text-transform: capitalize;
    text-align: center;
}
.photography1 p{
    font-size: 18px;
    /* margin-bottom: 30px; */
    text-align: center;
}
.first-btn{
    margin-bottom: 20px;
    /* margin: 0px auto; */
    width: 200px;
    padding: 15px 20px;
    /* display: flex; */
    justify-content: center;
    background-color: rgb(205, 43, 97);
    border-radius: 0px 20px;
    text-align: center;
    /* justify-content: space-between; */
}
.photography2{
    display: flex;
    justify-content: center;
}
.photography2 img{
    width: 300px;
}
                    /* ...................... 1st Part .................... */
  .company{
    margin: 0;
   max-width: 600px;
  }

  .company img{
    width: 50px;
    padding: 0 5px;
}
/* ..................................................... */
.collection{
    margin: 0;
    width: 600px;
   margin: 0px auto;
    /* display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px; */
    display: flex;
    flex-direction: column;
    
}
.collection-item{
    /* margin: 0 auto; */
    /* display: block; */
    /* max-width: 600px; */
    background-color: gainsboro;
    
}

.collection-item img{
    width: 300px;
}
.collection-item i{
    color: goldenrod;
}
.review{
    display: flex;
}





}