
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* overflow: hidden; */
}
main{
    width: 1300px;
    margin: 0 auto;
    /* justify-content: center;
    text-align: center; */
}
a{
    
    text-decoration: none;
    color: #fff;
    
    text-transform: uppercase;
}

.first-container{
    /* margin: 30px 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.photography1,.photography2 {
    width: 50%;
    /* padding: 50px; */
}
.photography1{
    /* margin-left: 100px; */
    /* padding: 100px; */
    
}
.photography1 h2{
    margin-bottom: 20px;
    font-size: 30px;
    text-transform: capitalize;
}
.photography1 p{
    font-size: 18px;

    margin-bottom: 30px;
}
.first-btn{
    /* margin-top: 10px; */
    padding: 10px 20px;
    display: inline;
    background-color: rgb(205, 43, 97);
    border-radius: 0px 20px;
    justify-content: space-between;
}
.first-btn i{
    color: #fff;
}
                /* ...................... 1st Part .................... */
.company{
    padding: 10px 0;
    display: flex; 
    justify-content: center;
    border-top: 2px  solid slategrey;
    border-bottom: 2px  solid slategrey;
    /* justify-content: space-around; */
}
.company img{
    width: 90px;
    padding: 0 10px;
}
/* ..................................................... */
.collection{
    /* margin: 10px 100px; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  
    gap: 40px;
    
}
.collection-item{
    margin: 0 auto;
    width: 400px;
    background-color: gainsboro;
    
}

.collection-item img{
    min-width: 300px;
}
.collection-item i{
    
    color: goldenrod;
}
.review{
    display: flex;
}